#
# Bundler
#
.bundle
bin
vendor

#
# coreos-vagrant
#
coreos/.env
coreos/.vagrant
coreos/user-data

#
# gin
#
gin-bin

#
# vim
#
*.swp

#
# OSX
#
.DS_Store

#
# iruka artifacts
#
artifacts
iruka
iruka.yml
